

#div_tab_button{
    overflow: hidden;
    margin-left: 0px;
}
.tab_button{
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    display: inline-block;
}

.tab_button:hover{
    background-color: #ddd;
}

.demande_liste{
    list-style: none;
    margin: 0;  
    padding: 0;
}

.demande_div_item{
    padding: 10px;
    border: #ccc 1px solid;
}

.demande_div_item a{
    text-decoration: none;
    color: #000;
}

.demande_div_item:hover{
    background-color: #f1f1f1;
}

.div_tab_button{
    display: flex;
    overflow: hidden;
    margin-left: 0px;
}

#div_tab_button button{
    border: none;
}

#liste_formulaire_films{
    display: flex;
}
#liste_formulaire_cinema{
    display: flex;
}
