.header {
    padding: 20px;
    text-align: center;
    background: #010020;
    color: rgb(224, 197, 75);
    font-size: 30px;
    h1 {
        font-size:2.4em;
        text-transform: uppercase;
        font-family: 'Gambetta', serif;
        transition: 700ms ease;
        font-variation-settings: "wght" 311;
        margin-bottom: 0.5rem;
        outline: none;
        text-align: center;
      }
      
      h1:hover {
        font-variation-settings: "wght" 582; 
        letter-spacing: 3px;
      }
}


.dropdown {
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
}

#dropdown_button {
  background-color: goldenrod;
  color: black;
  padding: 16px;
  font-size: 25px;
  border-radius: 50%;
  align-self: flex-end;
  position: relative;
  top: 0px;
  right: 0px;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}








.button_section {
    justify-content: center;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2em;  
    transform: skewY(-3.5deg);
}

.header_button {
  background-image: linear-gradient(to right, #713b8a 0%,  #4d074d 66%);
  border: 0;
  border-radius: 8px;
  color: rgb(224, 197, 75);
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  max-width: fit-content;
  min-width: 4em;
  min-height: 3em;
  padding: 3px;
  transition-duration: 0.5s;
  cursor: pointer;

  span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
  }
}
.header_button:hover span {
    background: none;
}

.form_container{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 60vh;
}

.form_layout {
    background-color: #15172b;
    justify-content: center;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 420px;

  }
  
  .title {
    align-self: center;
    color: rgb(224, 197, 75);
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
  }

  .input_container {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: rgb(224, 197, 75);
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    margin-top: 30px;
}

.edit_submit {
    background-image: linear-gradient(to right, #713b8a 0%,  #4d074d 66%);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: rgb(224, 197, 75);
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
  }

  .edit_clear {
    background-image: linear-gradient(to right, #713b8a 0%,  #4d074d 66%);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: rgb(224, 197, 75);
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
  }




